@font-face {
  font-family: 'spotifont';
  src: url('fonts/Gotham-Black.otf') format('opentype');
}

body {
  background-color: #121212;
  color: #fff
  font-family: spotifont;
}

.jumbotron {
  background-color: #000;
  color: #1DB954;
  padding: 30px;
}
.jumbotron h1 {
  font-weight: 500;
  font-size: 40px;

}

.container {
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.logo-container img {
  margin-right: 10px;
}

.form-control {
  width: 300px;
}

#search-form {
  display: flex;
}
#search-box {
  border-radius: 30px;
  font-weight: 500;
  padding-left: 20px;
  font-size: 18px;
  height: 50px;
  margin-right: 5px;
}
#search-btn {
  border-radius: 30px;
  margin: 2px;
  background-color: #1DB954;
  color :#000;
  font-weight: 500;
  font-size: 18px;
  height: 50px;
}

.table {
  color: #fff;
  background-color: #2a2a2a;
}
.thead {
  background-color: #000;
}